.profile-info {
    display: flex;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    color: #786450;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.account .account-slider .box{
    margin:3rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
    height: fit-content;
}

.account .account-slider .box:hover{
    border:var(--border-hover);
}

.account .account-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.account .account-slider .box:hover .image{
    transform: translateY(6rem);
}

.account .account-slider .box .image img{
    height: 25rem;
}

.account .account-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.account .account-slider .box:hover .icons{
    transform: translateY(0%);
}

.account .account-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.account .account-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.account .account-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.account .account-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.account .account-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.account .account-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.profile {
    width: 300px;
    padding: 1rem;
    text-align: center;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEBE6C", endColorstr="#CA7C4E", GradientType=1);
}

.profile .image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;
}

.profile .image .circle-1,
.profile .image .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #786450 #786450 #786450 transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}

.profile .image .circle-2 {
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #786450 transparent #786450 #786450;
}

.profile .image img {
    display: block;
    border-radius: 50%;
    background: #F5E8DF;
}

.profile .image:hover {
    cursor: pointer;
}

.profile .image:hover .circle-1,
.profile .image:hover .circle-2 {
    transform: rotate(360deg);
}

.profile .image:hover .circle-2 {
    transform: rotate(-360deg);
}

.profile .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

.profile .job {
    font-size: 11px;
    line-height: 15px;
}

.profile .actions {
    margin-top: 33px;
}


.profile .actions .btn {
    display: block;
    width: 120px;
    margin: 0 auto 10px auto;
    background: none;
    border: 1px solid #786450;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    color: #786450;
}

.profile .actions .btn:hover {
    background: #786450;
    color: #fff;
}

.stats {
    background: white;
}

.stats .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 120px;
    height: 110px;
    background: #F5E8DF;
    transition: all 0.4s ease-in-out;
}

.slider-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.btn-product {
    padding: 0.5rem;
    color:#fff;
    background:var(--green);
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.stats .box:hover {
    background: #E1CFC2;
    cursor: pointer;
}

.stats .box:nth-child(2) {
    margin: 3px 0;
}

.stats span {
    display: block;
}

.stats .value {
    font-size: 18px;
    font-weight: 600;
}

.stats .parameter {
    font-size: 11px;
}