.flip-book {
	/* box-shadow: 0 0 20px 0 rgba(242, 242, 242, 0.302); */
	display: block;
	margin: 0 auto;
	background-size: cover;
	overflow: hidden;
}

.stf__block {
	background: url('../images/main-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.page {
	padding: 20px;
	background-color: #ffffff;
	color: #234;
	border: solid 1px #ebe2d4;
	overflow: hidden;
	user-select: none;
}

.hard-logo {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1d143f 0%,
    rgb(102, 52, 155) 29%,
    #ff5e91 67%,
    rgb(253, 253, 155) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 300% center;
  }
}

.page .page-content {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.page .page-content .page-header {
	height: auto;
	font-size: 100%;
	text-transform: uppercase;
	text-align: left;
	border-bottom: solid 1px #f4e8d7;
	padding-bottom: 10px;
	color: #837158;
}


.page .page-content .page-image {
	height: auto;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.page .page-content .page-text {
	height: auto;
	flex-grow: 1;
	font-size: 80%;
	text-align: justify;
	margin-top: 10px;
	box-sizing: border-box;
	text-indent: 1.6rem;
	line-height: 1.5rem;
}

.page .page-content .page-footer {
	height: 30px;
	width: 90%;
	position: -webkit-sticky;
	position: absolute;
	border-top: solid 1px #f4e8d7;
	font-size: 80%;
	color: #998466;
	padding: var(--small-padding);
	margin-top: 10px;
	bottom: 0;
}

.page.--left {
	border-right: 0;
	box-shadow: inset -7px 0 30px -7px rgba(119, 109, 102, 0.104);
}

.page.--right {
	border-left: 0;
	box-shadow: inset 7px 0 30px -7px rgba(119, 109, 102, 0.193);
}

.page.--right .page-footer {
	text-align: right;
}

.page.hard {
	box-shadow: inset 0px 0 30px 0px rgba(46, 46, 46, 0.337) 50%, -2px 0 5px 2px rgba(160, 160, 160, 0.282);
	background-image: repeating-linear-gradient(45deg, rgba(232, 232, 232, 0.939), rgba(255, 255, 255, 0.624) 100px);
	color: 'white';
	opacity: 1;
}

.page.hard .hard-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.page.page-cover {
	color: #5e5446;
	border: solid 1px #e8e6e4;
}

.page.page-cover .cover-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cover-logo h2 {
	text-align: center;
	font-size: 200%;
	font-weight: 400;
	position: absolute;
	/* bottom: 5vh; */
	width: 60%;
}

.page.page-cover.page-cover-top {
	box-shadow: inset 0px 0 30px 0px rgba(162, 162, 162, 0.179), -2px 0 5px 2px rgba(130, 129, 129, 0.179);
	display: flex;
	align-items: center;
}

.page.page-cover.page-cover-bottom {
	box-shadow: inset 0px 0 30px 0px rgba(157, 157, 157, 0.179), 10px 0 8px 0px rgba(140, 140, 140, 0.179);
}