.master-admin {
    display: grid;
    grid-template-columns: var(--tmpl-col-large);
    grid-template-rows: var(--tmpl-row-large);
    grid-gap: 0;
    height: var(--max-height-content);
    overflow: hidden;
}

.warning {
    text-align: center;
    background-color: #4d4c60;
    color: white;
    padding: 1rem;
    width: 100%;
    position: absolute;
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: 400;
}

.master-admin-header {
    display: grid;
    grid-column: 1 / 16;
    grid-row: 1 /2 ;
    grid-gap: var(--large-gap);
    background: var(--bg-primary);
    background: var(--webkit-gradient);
    background: var(--normal-gradient);
    grid-template-columns: var(--sidebar-width) 3fr 1.2fr;
    align-items: center;
    justify-items: center;
}

.master-admin-search-bar {
    width: 100%;
    flex: 1;
}

.off-canvas {
    display: none;
}

.master-admin-search-bar > input {
    height: 40px;
    padding: var(--medium-padding);
    width: 100%;
}

.master-admin-header-menu {
    display: flex;
    background: #141E30;
    /* fallback for old browsers */
    background: var(--webkit-left-gradient);
    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--normal-left-gradient);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: var(--header-height);
    font-size: var(--font-header-top);
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: var(--medium-padding);
}

.material-icons.header-menu {
    font-size: var(--icon-size-medium);
}

.master-admin-icons  {
    padding: var(--small-padding);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--xsmall-gap);
    text-decoration: none;
    color: white;
}

.header-icons{
    padding: var(--small-padding);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--xsmall-gap);
    text-decoration: none;
    color: white;
}

.header-icons.off-canvas {
    display: none;
}

.master-admin-arrows {
    cursor: pointer;
    padding: 0.2rem;
}

.admin-logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-padding);
    background: var(--webkit-top-gradient);
    background: var(--normal-top-gradient);
}
.admin-logo {
    width: 45px;
    margin-left: var(--margin-state);
    border-radius: 100px;
    border: 5px solid rgb(35 57 82);
    background: var(--blue-light);
    display: var(--display-state);
    padding: var(--small-padding);
}

.admin-brand {
    color: var(--text-primary);
    text-transform: uppercase;
    display: var(--display-state);
}
.master-admin-link {
    padding: var(--small-padding) var(--large-padding);
    gap: 0.5rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: var(--content-state);
    color: var(--text-primary);
}

@media only screen and (max-width: 968px){
    .master-admin-link {
        justify-content: var(--content-state);
    }

    .header-icons {
        display: none;
    }

    .header-icons.off-canvas {
        display: block;
    }

    .master-admin-header {
        grid-template-columns: var(--header-mobile-layout);
    }

    .dashboard-admin {
        flex-wrap: wrap;
    }

    .admin-footer {
        bottom: 0;
        left: 0;
        position: sticky !important;
    }
}

.master-admin-heading-page {
    grid-column: 2/ span 16;
    grid-row: 2 / 3;
    background-color: rgb(255 255 255);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--small-padding);
    align-items: center;
    height: 50px;
    font-size: var(--font-page-title);
    box-shadow: var(--box-shadow);
}
/* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    border-color: #3498db;
 } */
 .table-striped > thead {
     /* border-color: #234; */
    /* color: #234; */

 }
 .table-striped > tfoot {
    /* border-color: #234; */
    /* color: #234; */

}

li.page-item > .page-link {
    color: #234;
}


.page-title {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.view-content-type {
    display: flex;
    justify-content: space-around;
    grid-column: 2 / span 12;
}

.master-admin-content {
    grid-column: 2/ span 14;
    grid-row: 3 / 12;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-items: center;
    padding: var(--large-padding);
}

/* SIDEBAR */

.master-admin-sidebar {
    display: grid;
    grid-column-end: 2;
    /* grid-row: 2 / 12; */
    width: 100%;
    height: var(--max-height-content);
    background: #141E30;
    background: var(--webkit-right-gradient);
    background: var(--normal-right-gradient);
}

.admin-sidebar {
    -webkit-transition: width 5s;
    transition: width 5s;
    padding-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-sidebar > a {
    margin-bottom: var(--margin-bottom-sidebar-link);
    padding: var(--medium-padding);
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-text-icons {
    display: var(--display-state);
}

/* FOOTER ADMIN */


/* Let's get this party started */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(22, 49, 77, 0.282); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.043); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(7, 56, 104, 0.077); 
}

.admin-footer {
    display: flex;
    grid-column: 2 / 16;
    grid-row:  12 / 14;
    margin-bottom: 0px;
    background: var(--container-light);
    bottom: 0;
    left: 0;
    position: sticky;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: max-content;
}


.footer-items {
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.footer-item {
    background: var(--webkit-top-gradient);
    background: var(--normal-top-gradient);
    padding: 10px 10px;
    margin-right: 5px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
}

a.footer-item {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}


@media only screen and (max-width: 800px) {

    a.footer-item {
        margin-right: 5px;
        border-radius: 5px;
        width: 150px;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    a.footer-item {
        margin-left: 8px;
    }


}

@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    .footer-item {
        margin-right: 5px;
        border-radius: 5px;
        width: 150px;
        font-size: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    a.footer-item {
        margin-left: 6px;
    }


}



/* LOADER ADMIN */

.master-admin-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 1000;
    position: absolute;
    top: 35%;
  }

  @media only screen and (max-width: 768px){
    .master-admin-loader {
          width: 20px;
          height: 20px;
      }
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /*--------------------
        Inputs
---------------------*/

.ui-input {
    position: relative;
    font-weight: normal;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.87);
}

input {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67857143em 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.885);
    border-radius: 0.28571429rem;
    -webkit-transition: box-shadow 0.1s ease, border-color 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    box-shadow: none;
}

/*--------------------
      Placeholder
---------------------*/

/* browsers require these rules separate */

input::-webkit-input-placeholder {
    color: rgba(193, 193, 193, 0.604);
}

input::-moz-placeholder {
    color: rgba(191, 191, 191, 0.707);
}

input:-ms-input-placeholder {
    color: rgba(191, 191, 191, 0.611);
}

/*******************************
            States
*******************************/

/*--------------------
        Disabled
---------------------*/

input[disabled] {
    opacity: 0.45;
}

input[disabled] {
    pointer-events: none;
}

/*--------------------
        Active
---------------------*/

input:active,
input {
    border-color: rgba(0, 0, 0, 0.3);
    background: #FAFAFA;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
}

/* PAGES */

@media only screen and (max-width: 768px) {
    .dashboard-admin {
        display: flex;
        gap: 0.8rem;
        margin-bottom: 1rem;
    }
}

.dashboard-admin {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
}
.panel {
    flex: 1;
    width: 100%;
    box-shadow: var(--box-shadow);
    padding: 10px;
}

canvas { height: 100% !important; }

.text-letter-legal {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: justify;
    text-indent: 1.2rem;
}