:root {
    --display-state: block;
    --content-state: flex-start;
    --bg-primary: #234;
    --text-primary: #89a7d5cc;
    --text-secondary: var(--bg-primary);
    --text-white: white;
    --container-light: #b2bed145;
    --blue-light: rgb(7 70 132);
    --webkit-top-gradient: -webkit-linear-gradient(to top, #243B55, #141E30);
    --webkit-left-gradient: -webkit-linear-gradient(to left, #243B55, #141E30);
    --webkit-right-gradient: -webkit-linear-gradient(to right, #243B55, #141E30);
    --normal-right-gradient: linear-gradient(to right, #243B55, #141E30);
    --normal-left-gradient: linear-gradient(to left, #263b5cf2, #1a293e);
    --normal-top-gradient: linear-gradient(to top, #243B55, #141E30);
    --webkit-gradient: linear-gradient(to right, #243B55, #141E30);
    --normal-gradient: linear-gradient(to right, #243B55, #141E30);
    --sidebar-width: 260px;
    --header-height: 60px;
    --footer-height: 60px;
    --margin-bottom-sidebar-link: 0.6rem;
    --tmpl-col-large: var(--sidebar-width) 1fr repeat(12, 1fr) 1fr;
    --tmpl-row-large: var(--header-height) 50px repeat(9, 1fr) var(--footer-height);
    --header-mobile-layout: var(--sidebar-width) 3fr var(--header-height);
    --xsmall-gap: 0.4rem;
    --small-gap: 0.5rem;
    --medium-gap: 0.8rem;
    --large-gap: 1rem;
    --small-padding: 0.4rem;
    --medium-padding: 0.6rem;
    --large-padding: 1rem;
    --max-height-content: 100vh;
    --fit-height-content: fit-content;
    --font-page-title: 1rem;
    --font-header-top: 1rem;
    --icon-size-small: 1.3rem;
    --icon-size-medium: 1.6rem;
    --icon-size-large: 1.8rem;
    --box-shadow: 0px 5px 5px rgb(59 59 59 / 13%);
 
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: ease-in .5s linear;
}

.nav-item > a.nav-link {
    color: var(--bs-blue),
}

a:hover {
    color: var(--bs-blue);
}

a {
    color: var(--bs-blue);
}


.overlay-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(15 11 11 / 48%);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000000;
    height:100%;
    width:100%;
}

.overlay-container.active{
    right:0;
}

.overlay-container #close-popup {
    position: absolute;
    top:1.2rem; 
    right:1.2rem;
    /* font-size: 5rem; */
    color:var(--bg-primary);
    cursor: pointer;
}

.add-button-product {
    bottom: 0;
    right: 0;
}